.profile-picture{
    position: relative;
    height: 120px;
    width: 120px;
    border: solid .5vw white;
    border-radius: 50%;
    margin-top: 1em;
    left: 4vw;
    box-shadow: 5px 5px 6px black ;
}

.profile-section img {
    float: left;
    margin: 0 80px 10px 0 ;
}

@media screen and (max-width: 500px) {
    .profile-section img {
        float: left;
        margin: 0 40px 10px 0 ;
    }

    .profile-picture {
        height: 120px;
        width: 120px;
    }
}