.hdr-nav-list {
  font-size: 2vw;
  margin-right: 6vw;
  width: 50%;
  display: flex;
  list-style-type: none;
  /*--flex rules--*/
  justify-content: space-evenly;
}

.hdr-nav-list li a {
  color: #ffffff;
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-weight: 700;
  text-decoration: none;
  padding: 0 0.6vw 0.5vw;
  border-bottom: 4px solid #ffffff;
  transition: font-weight 0.7s, font-size 0.3s;
}

.hdr-nav-list li a:hover {
  color: #7f997c;
  font-size: larger;
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-weight: 900;
  text-decoration: none;
  padding: 0 0.6vw 0.5vw;
  border-bottom: 4px solid #ffffff;
}

#nav-link-active {
  font-size: larger; 
  color: #b9ddb6;
}

@media screen and (max-width: 500px) {
  .hdr-nav-list {
    width: 100%;
    padding: 0;
    margin: 2vh auto 4vh;
    font-size: 1rem;
  }
}
